<table>
  <tr>
    <th>Tool Name</th>
    <th>Users</th>
<!--    <th>Category</th>-->
  </tr>
  <% @tools.each do |tool| %>
    <tr>
      <td><%= link_to tool.name, tool %></td>
      <td><%= @user_count[tool.id] %></td>
<!--      <td><%#= tool.category.name %></td>-->
    </tr>
  <% end %>
</table>

<% flash.each do |type, msg| %>
  <div>
    <p><%= type %></p>
    <p><%= msg %></p>
  </div>
<% end %>

<h2>Add New Tool</h2>
<%= form_with model: Tool.new do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name %><br>
  <%= form.label :category_id %><br>
  <%= form.select :category_id, Category.all.pluck(:name, :id), { include_blank: true } %>
  <%= form.submit %>
<% end %>