<div class="row-container">

  <div class="table-container drop-shadow">
    <%= render 'index_table', tools: @tools %>
  </div>

  <div class="form-container drop-shadow">
    <h3>Add New Tool</h3>
    <%= form_with model: Tool.new, html: { class: 'form-vertical'} do |form| %>
      <%= form.label :name %><br>
      <%= form.text_field :name %><br>
      <%= form.label :category_id %><br>
      <%= form.select :category_id, Category.all.pluck(:name, :id), { include_blank: true } %><br>
      <%= form.submit %>
    <% end %>
  </div>

</div>