<%= render 'index_table', tools: @tools, user_count: @user_count %>

<% flash.each do |type, msg| %>
  <div>
    <p><%= type %></p>
    <p><%= msg %></p>
  </div>
<% end %>

<h3>Add New Tool</h3>
<%= form_with model: Tool.new do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name %><br>
  <%= form.label :category_id %><br>
  <%= form.select :category_id, Category.all.pluck(:name, :id), { include_blank: true } %>
  <%= form.submit %>
<% end %>