<h2><%= @tool.name %> | <%= @tool.category.nil? ? 'Uncategorized' : @tool.category.name %></h2>

<% if @tool.users.empty? %>
  <p>No users for this tool!</p>
<% else %>
  <%= render 'table', tool: @tool %>
<% end %>

<% flash.each do |type, msg| %>
  <div>
    <p><%= msg %></p>
  </div>
<% end %>
<br>
<%= form_with model: ToolUser.new do |form| %>
  <%= form.collection_select :user_id, @users_not_subscribed, :id, :full_name %>
  <%= form.hidden_field  :tool_id, :value => @tool.id %>
  <%= form.submit 'Add User'%>
<% end %>