<h1><%= @tool.name %></h1>

<% if @tool.category.nil?
     category = "Unknown"
   else
     category = Category.find(@tool.category_id)
   end %>

<p>Category: <%= category %></p>

<% if @tool.users.empty? %>
  <p>No users for this tool!</p>
<% else %>
  <table>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    <% @tool.users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td>
          <% tool_user = @tool.tool_users.find { |tu| tu.user_id == user.id } %>
          <%= button_to '[X]', tool_user_path(tool_user.id), method: :delete %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<% flash.each do |type, msg| %>
  <div>
    <p><%= msg %></p>
  </div>
<% end %>

<p>Add users to this tool here:</p>
<%= form_with model: ToolUser.new do |form| %>
  <%= form.label :user, 'User' %><br>
  <%= form.collection_select :user_id, @users_not_subscribed, :id, :full_name %>
  <%= form.hidden_field  :tool_id, :value => @tool.id %>
  <%= form.submit 'Add User'%>
<% end %>