<%= form_with model: @user do |form| %>
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
  <%= form.submit %>
<% end %>


<% if @user.tools.empty? %>
  <p>This guy doesn't use any tools!</p>
<% else %>
  <%= render 'table', user: @user %>
<% end %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>