<div class="column-container">

  <div class="form-container drop-shadow">
    <%= form_with model: @user, html: { class: 'form-horizontal' } do |form| %>
      <%= form.label :first_name %>
      <%= form.text_field :first_name %>
      <%= form.label :last_name %>
      <%= form.text_field :last_name %>
      <%= form.submit %>
    <% end %>
  </div>

  <div class="table-container drop-shadow">
    <%= render 'table', user: @user %>
  </div>

  <div class="options">
    <%= link_to 'Delete User', @user, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this user?' } %>
  </div>

</div>