<table>
  <tr>
    <th>Name</th>
    <th>Tools</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td><%= user.tools.count %></td>
    </tr>
  <% end %>
</table>

<h2>Add New User</h2>
<%= form_with model: User.new do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name %><br>
  <%= form.submit %>
<% end %>