<h2><%= @user.full_name %></h2>

<% if @user.tools.empty? %>
  <p>This guy doesn't use any tools!</p>
<% else %>
  <%= render 'table', user: @user %>
<% end %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<br>
<%= form_with model: ToolUser.new do |form| %>
  <%= form.collection_select :tool_id, @tools_not_subscribed, :id, :name %>
  <%= form.hidden_field  :user_id, :value => @user.id %>
  <%= form.submit 'Add Tool'%>
<% end %><br>

<%= button_to 'Edit User', edit_user_path(@user) %>
<%= button_to 'Delete User', user_path(@user), method: :delete%>