<div class="column-container">

  <div class="form-container">
    <%= form_with model: @category, html: { class: 'form-horizontal' } do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name %>
      <%= form.submit %>
    <% end %>
  </div>

  <div class="table-container drop-shadow">
    <%= render 'table', category: @category, tool_user_count: @tool_user_count %>
  </div>

  <div class="options">
    <%= link_to 'Delete Category', @category, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this category?' } %>
  </div>

</div>
