<div class="row-container">

  <div class="column-container">

    <div class="table-container drop-shadow">
      <%= render 'index_table', categories: @categories %>
    </div>

    <div class="table-container drop-shadow">
      <%= render "uncategorized", uncategorized_tools: @uncategorized_tools %>
    </div>

  </div>

  <div class="form-container drop-shadow">
    <h3>Add New Category</h3>
    <%= form_with model: Category.new, html: { class: 'form-vertical' } do |form| %>
      <%= form.label :name %><br>
      <%= form.text_field :name %><br>
      <%= form.submit %>
    <% end %>
  </div>

</div>