<%= render 'index_table', categories: @categories, tool_user_count: @tool_user_count %>

<h3>Uncategorized</h3>
<%= render "uncategorized", uncategorized_tools: @uncategorized_tools, tool_user_count: @tool_user_count %>

<% flash.each do |type, msg| %>
  <div>
    <p><%= type %></p>
    <p><%= msg %></p>
  </div>
<% end %>

<h3>Add New Category</h3>
<%= form_with model: Category.new do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name %><br>
  <%= form.submit %>
<% end %>