<table>
  <tr>
    <th>Category</th>
    <th>Tools</th>
    <th>Users</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.name, category %></td>
      <td>
        <% if category.tools.empty? %>
          No tools!
        <% end %>
        <% category.tools.each do |tool| %>
          <div><%= link_to tool.name, tool %></div>
        <% end %>
      </td>
      <td>
        <% category.tools.each do |tool| %>
          <div><%= tool.users.count %></div>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<h2>Uncategorized</h2>
<ul>
  <% @uncategorized_tools.each do |tool| %>
  <li><%= tool.name %></li>
  <% end %>
</ul>

<% flash.each do |type, msg| %>
  <div>
    <p><%= type %></p>
    <p><%= msg %></p>
  </div>
<% end %>

<h2>Add New Category</h2>
<%= form_with model: Category.new do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name %><br>
  <%= form.submit %>
<% end %>