<h2><%= @category.name %></h2>

<% if @category.tools.empty? %>
  <p>No tools belong to this category!</p>
<% else %>
  <%= render 'table', category: @category, tool_user_count: @tool_user_count %>
<% end %>

<% flash.each do |type, msg| %>
  <div>
    <p><%= type %></p>
    <p><%= msg %></p>
  </div>
<% end %>
<br>
<%= form_with url: category_tool_path, method: :patch do |form| %>
  <%= form.collection_select :tool_id, @tools_not_in_category, :id, :name %>
  <%= form.submit 'Add Tool'%>
<% end %>