<!DOCTYPE html>
<html>
  <head>
    <title>SoftwareTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'table' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/flash' %>
    <%= yield %>

    <div class="footer">
      <%= link_to 'Source on Github', 'https://github.com/thomas-tz/software-tracker', target: '_blank' %>
    </div>
  </body>
</html>
